{% extends "base.html" %} 
{% block title %} Products {% endblock title%} 
{% block content %}

<div class="container">
<h2>Product List</h2>
<p>All our seeds are grown by Sitconski</p>
  
<div class="row">
{% for product in products %}
    <div class="col-md-4" style="margin-top:10px">
      <div class="thumbnail">
        <a href="{% url 'products:product-detail' product.id %}" target="_blank">
          <div class="caption">
            <h4>{{product.name}}</h4>
          </div>

          <img
              class="card-img-top"
              src="{{product.thumbnail.url}}"
              alt="Lights" 
              style="width:100%">
        </a>
      </div>
    </div>
{% endfor %}
</div>
{% endblock content %}
