{% extends "base.html" %} 
{% block title %} Buy Product {% endblock title%} 
{% block script %} <script src="https://js.stripe.com/v3/"></script> {% endblock script%} 


{% block content %}
<div class="card-deck">
  {% for price in prices %}
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{product.name}}</h5>
      <p class="card-text">{{product.desc}}</p>
      <p class="card-text">{{product.strain_desc}}</p>
      <div class="card-text">
        <h5 class="card-text">${{ price.price }}</h5>

        <form
          action="{% url 'products:create-checkout-session' price.id product.quantity%}"
          method="POST"
        >
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary">Checkout</button>
        </form>
      </div>
    </div>
  </div>
  {% endfor %}

  <div class="container mt-5">
    <div class="row pt-5">
        {% for image in image_model %}
          <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img
                  class="card-img-top"
                  src="{{image.image.url}}"
                />
              </div>
          </div>
        {% endfor %}
    </div>
  </div>
</div>
{% endblock content %} 